*{
    box-sizing: border-box;
}
body{
    margin: 0;
    background-color: rgb(255, 204, 167);
    font-family: Georgia, 'Times New Roman', Times, serif;
}
header{
    display: flex;
    background: linear-gradient(10deg,rgb(255, 230, 230),rgb(98, 63, 69),rgb(220, 169, 169));
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}
.logo-text{
    font-family: 'Arial';
    text-align: center;
}
a{
    text-decoration: none;
    color: black;
}
a:visited{
    color: black;
}
a:hover{
    color: rgb(237, 28, 63);
    transition: 0.4s;
}
nav{
    display: flex;
    justify-content: space-around;
    width: 30%;
}

.slideshow-container{
    max-width: 1000%;
    position: relative;
    margin: auto;
}
.mySlides{
    display: none;
}
.prev, .next{
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
.next{
    right: 0;
    border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover{
    background-color: rgba(0, 0, 0, 0.39);
}
.text{
    font-family: fantasy;
    font-style: italic;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.373);
    font-size: 20px;
    padding: 8px 12px;
    bottom: 8px;
    width: 100%;
    position: absolute;
    text-align: center;
}
.numbertext {
    color: white;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}
.active, .dot:hover{
    background-color: #717171;
}

.fade{
    animation-name: fade;
    animation-duration: 1.5s;
}
@keyframes fade{
    from{opacity: .4;}
    to {opacity: 1;}
}
.footer{
    color: black;
    text-align: center;
}